@mixin font-face($font-family, $weight, $weightStr, $style) {
   @font-face {
      font-family: $font-family;
      font-style: $style;
      font-weight: $weight;
      src:
         url("../fonts/" + $font-family + "-" + $weightStr + ".woff") format("woff"),
         url("../fonts/" + $font-family + "-" + $weightStr + ".woff2") format("woff2");
   }
}

@include font-face("Inter", 400, "Regular", normal);
@include font-face("Inter", 500, "Medium", normal);
@include font-face("Inter", 600, "SemiBold", normal);
@include font-face("Inter", 700, "Bold", normal);
